.loginsignup {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80vh;
    background: linear-gradient(#5c5c5c, pink);
    margin-left: 70px;
    margin-right: 500px;
    margin-top: 10px;
    border-radius: 20px;
}

.loginsignup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 580px;
    height: 500px;
    background: white;
    margin: auto;
    padding: 20px 60px;
}

.loginSignup-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    width: 80%;
}

.loginSignup-fields input {
    height: 50px;
    width: 100%;
    border: 1px solid #5c5c5c;
    border-radius: 10px;
    font-size: 18px;
}

.loginsignup-container button {
    width: 80%;
    height: 50px;
    color: white;
    background: black;
    margin-top: 30px;
    font-size: 20px;
    cursor: pointer;
}

.loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span {
    color: red;
    font-weight: 800;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: -5px;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
}